.service {
  display: flex;
  margin: 3rem 0;
  align-items: center;
}

.service:nth-child(odd) {
  flex-direction: row-reverse;
}

.service--content {
}

.service--title {
}

.service--description {
}

.service--list {
}

.service--image {
  width: 50%;
  padding: 1rem;
}

@media screen and (max-width: 580px) {
  .service {
    flex-direction: column;
  }
}
