.service {
  display: flex;
  margin: 3rem 0;
  align-items: center;
}

.service:nth-child(odd) {
  flex-direction: row-reverse;
}

.service--content {
}

.service--title {
}

.service--description {
}

.service--list {
}

.service--image {
  width: 100%;
  padding: 1rem;
}
