.service {
  display: flex;
  height: 50vh;
  align-items: center;
}

.service:nth-child(odd) {
  flex-direction: row-reverse;
}

.service--content {
  flex: 1;
}

.service--title {
}

.service--description {
}

.service--list {
}

.service--image {
  flex: 1;
  padding: 1rem;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 580px) {
  .service {
    flex-direction: column;
  }
}
