.portfolio--item {
  position: relative;
  overflow: hidden;
  /* padding: 0.6rem; */
}
.portfolio--item img {
  width: 100%;
  transition: 0.4s ease-in-out;
}

.portfolio--item:hover .portfolio-item--info {
  display: flex;
  opacity: 1;
}

.portfolio--item:hover img {
  filter: blur(2px);
  transform: scale(1.1);
}

.portfolio-item--info {
  color: #f3f4f0;
  position: absolute;
  left: 0rem;
  bottom: 0rem;
  right: 0rem;
  top: 0;
  padding: 0 1rem;
  flex-direction: column;
  justify-content: flex-end;
  background: rgba(51, 51, 51, 0.7);

  display: none;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.portfolio-item--info h3 {
  color: #f3f4f0;
  margin-bottom: 10px;
}
.portfolio-item--info h4 {
  color: #f3f4f0;
}

/*
* Media Queries
*/

@media (max-width: 440px) {
  .portfolio--info {
    justify-content: center;
    align-items: center;
  }
  .portfolio--info h3 {
    font-size: 1.6rem;
  }
  .portfolio--info h4 {
    font-size: 1.2rem;
  }
}
