.portfolio-section {
  display: grid;
  /* justify-content: space-between;
  padding: 100px 0; */
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: 1fr auto;
  grid-gap: 1rem;
  grid-template-areas: ". . t1 t2 more p p p p p p p p p" ". . desc desc desc . . . . . . . . .";
}

.portfolio {
  grid-area: p;
  display: grid;
  height: 100vh;
  width: 125vh;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.portfolio img {
  width: 100%;
  transition: 0.4s ease-in-out;
}

.portfolio > * {
  display: inherit;
  overflow: hidden;
  position: relative;
}
.portfolio > *:nth-child(2),
.portfolio > *:nth-child(7),
.portfolio > *:nth-child(9) {
  grid-column: span 2;
  grid-row: span 2;
}

.portfolio > *:nth-child(3) {
  grid-column: span 2;
}

.portfolio-section h2 {
  font-size: 100px;
  font-weight: 800;
  text-transform: uppercase;
  writing-mode: sideways-lr;
}

.portfolio-section h2:first-child {
  grid-area: t1;
  align-self: start;
}
.portfolio-section h2:nth-child(2) {
  grid-area: t2;
  align-self: center;
  color: #ffdd3b;
}

.portfolio-section h3 {
  grid-area: more;
  align-self: end;
}

.portfolio-section--desc {
  grid-area: desc;
  text-align: right;
}
