h1 {
  text-align: center;
}

.home-grid {
  display: flex;
  flex-wrap: wrap;
}

.home-grid--img {
  width: 33.3%;
}

/* .home-grid--img::after {
  display: block;
  content: "";
  padding-bottom: 100%;
} */

.hero {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hero h1 {
  margin-bottom: 3rem;
}

.hero--description p {
  margin-bottom: 3rem;
  line-height: 1.8em;
}

/*
* Media Queries
*/

@media (max-width: 750px) {
  .home-grid--img {
    width: 50%;
  }
}

@media (max-width: 440px) {
  .home-grid--img {
    width: 100%;
  }
}
