:root {
  --folder-width: 8em;
  --folder-height: calc(0.8 * var(--folder-width));
  --folder-deco-width: calc(var(--folder-width) / 3.5);
  --folder-cover-height: calc(0.7 * var(--folder-width));
  --folder-slip-height: calc(var(--folder-height) - var(--folder-cover-height));
  --folder-border-radius: calc(var(--folder-width) / 10);
  --folder-title-size: calc(0.16 * var(--folder-width));
  --thumb-width: calc(0.9 * var(--folder-width));
  --grid-item-padding: 3em;
}

.service__menu {
  height: calc(100vh - 330px);
  display: grid;
  padding: 50px 150px;
}

.service__menu--mini {
  display: flex;
  height: auto;
  justify-content: space-around;
}

.service__section {
  position: relative;
}

.service__section--light {
  color: #f3f4f0;
}

.service__section--dark {
  color: #333;
}

.service__title {
  font-size: 32px;
  text-decoration: none;
  color: inherit;
}

.service__title--light {
  color: #f3f4f0;
}

.service__title--dark a {
  color: #333;
}

.service__menu .service__section:last-child {
  align-self: end;
  justify-self: end;
}

.service__items {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 25px;
}

.service__item {
  position: absolute;
  top: calc(
    (var(--folder-height) + var(--folder-slip-height)) / 2 - var(--thumb-width) /
      2
  );
}

.service-description {
}

/* Background */

.services__background {
  z-index: -1;
  background: #333;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  clip-path: polygon(0 76%, 100% 18%, 100% 100%, 0% 100%);
  transition: all 0.3s ease-in-out;
}

.services__background--open {
  clip-path: polygon(0 10%, 100% 10%, 100% 100%, 0% 100%);
}

.services__background--closed {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}

.transition-group {
  position: relative;
}

.transition-container {
  position: absolute;
}

/* Media Queries */

@media (max-width: 890px) {
  .services__background {
  clip-path: polygon(0px 90%, 100% 18%, 100% 100%, 0% 100%);
  }
}

@media (max-width: 780px) {
  .services__background {
    clip-path: polygon(0px 76%, 100% 40%, 100% 100%, 0% 100%);
  }
}

@media (max-width: 600px) {
  .service__menu {
    padding: 50px 60px;
  }
}

@media (max-width: 450px) {
  .service__menu--mini {
    flex-direction: column;
  }
}