footer {
  position: relative;
  background-color: #333;
  color: #f3f4f0;
  font-weight: 200;
  display: flex !important;
  align-items: center;
  flex-direction: column;
  padding: 60px;
}

.footer-social {
  display: flex;
  justify-content: space-between;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 6px;
}

.social--icon {
  width: 35px;
  margin: 0;
}

.footer-phone span {
  margin: 0 20px;
}

.footer-contact {
  padding: 20px;
}

.footer-contact a {
  color: #f3f4f0;
  text-decoration: none;
}

.footer__up {
  position: absolute;
  top: 60px;
  right: 60px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__up--text {
  font-size: 14px;
}
.footer__up--arrow {
  font-size: 30px;
  line-height: 22px;
}

/*
* Media Queries
*/

@media (max-width: 400px) {
  .footer-phone span {
    display: block;
  }
  .footer__up {
    top: 15px;
    right: 15px;
  }
  .footer__up--text {
    display: none;
  }
}
