footer {
  position: relative;
  background-color: #333;
  color: #f3f4f0;
  font-weight: 200;
  display: flex !important;
  flex-direction: column;
  padding: 60px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.row.margin {
  margin-bottom: 100px;
}
.equal {
  justify-content: space-between;
}
.equal > * {
  width: 33%;
}

.social--icon {
  width: 35px;
  margin: 0 10px;
}

.footer-phone span {
  margin: 0 20px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-contact--social {
  display: flex;
  margin: 0 6px;
}

.footer-contact--mail {
  padding: 20px;
}

.footer-logo {
  text-align: right;
}

footer a {
  color: #f3f4f0;
  text-decoration: none;
}

footer a > span {
  position: relative;
  transform: translate3d(-0.5em, 0, 0);
  transition: transform 0.5s, color 0.5s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

footer a > span::before {
  content: "";
  position: absolute;
  top: calc(100% + 0.1em);
  left: 2em;
  width: 100%;
  height: 4px;
  opacity: 0.3;
  transform: scale3d(0, 1, 1);
  transform-origin: 100% 50%;
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  background: #f3f4f0;
}

footer a:hover span {
  transform: translate3d(0, 0, 0);
}
footer a:hover span::before {
  transform: scale3d(1, 1, 1);
  transform-origin: 0% 50%;
  transition-timing-function: ease;
}

.copyright {
  font-family: "Crimson Text";
  margin-top: 20px;
}
.made {
  font-family: "Crimson Text";
  font-size: 1.5rem;
}

.footer-links {
  list-style: none;
}

/*
* Media Queries
*/

@media (max-width: 400px) {
  .footer-phone span {
    display: block;
  }
  .footer__up {
    top: 15px;
    right: 15px;
  }
  .footer__up--text {
    display: none;
  }
}
